@page "/leagues"
@inherits LeagueBases

@using TeamManagerDemo.Infrastructure.Data

@inject AppDbContext appDbContext

<div class="container">
    <h1>Leagues</h1>

    @if (leagues == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else if (leagues.Count() == 0)
    {
        <p>No Leagues found</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var league in leagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>

                        <a href="@($"edit-state/{@league.Id}")" class="btn btn-primary edit-btn">
                            Edit Legue
                        </a>
                        <button
                            class="btn btn-danger edit-btn"
                            @onclick="@(e => DeleteLeague(league.Id))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    
    @if (ShowModal)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" @onclick="ToggleAddModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" @onclick="ToggleAddModal"  class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    }
    <button @onclick="ToggleAddModal" class="btn btn-primary edit-btn">
        Add League
    </button>

</div>