@page "/leagues"
@inherits LeagueBase

@using TeamManagerDemo.Infrastructure.Data

@inject AppDbContext appDbContext

<div class="container">
    <h1>Leagues</h1>

    @if (leagues == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else if (leagues.Count() == 0)
    {
        <p>No states found</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var league in leagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>

                        <a href="@($"edit-state/{@league.Id}")" class="btn btn-primary edit-btn">
                            Edit State
                        </a>
                        <button class="btn btn-danger edit-btn" @onclick="@(e => DeleteLeague(league.Id))">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    <NavLink href="add-state" class="btn btn-primary edit-btn">
        Add State
    </NavLink>

</div>