@page "/addstate"

@using TeamManagerDemo.Infrastructure.Data
@using TeamManagerDemo.Core.Entities

@inject AppDbContext appDbContext

<section>
    <h1>
        Add A new State
    </h1>
</section>

@code {
    private State state => new State();    

    

}
